#about-me {
  height: auto;
  width: 100%;
  background-color: var(--white);
  color: #2d2e32;
  padding-bottom: 150px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-header {
  font-size: 3rem;
  padding-top: 100px; /* Example using dvh for consistency */
}

.about-me-border {
  height: 2px;
  background-color: #2d2e32 !important;
  width: 500px;
}

.about-me-box-container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.about-me-box {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 500px;
  background: rgb(246, 246, 246);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.about-me-iribe {
  flex-basis: 45%;
  background-image: url('../../imgs/AboutMe/sunset-pic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.about-me-description {
  flex-basis: 55%;
  padding: 20px;
}

.about-me-description-p {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 400;
}

@media only screen and (max-width: 1025px) {
  #about-me {
    height: auto;
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 700px) {

  .about-me-iribe {
    display: none;
    flex-basis: 0%;
  }
  .about-me-description {
    flex-basis: 100%;
  }
}

@media only screen and (max-height: 900px) {
  .about-me-description-p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-height: 500px) {
  #about-me {
    height: auto;
    padding-bottom: 150px;
  }

  .about-me-box {
    height: auto;
  }
}

